* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #d9ed92;
}
.header {
    text-align: center;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 75vh;
    background-color: #fdf0d5;
    margin: auto;

}
section {
    flex-grow: 1;
    /* width: 60%; */
    border: 1px solid black;
    background-color: #ffd60a;;
    text-align: center;
}
.aside-left {
    width: 20%;
    background-color: #c1121f ;
    font-weight: bold;
    color: #fdf0d5
}
.aside-right {
    width: 20%;;
    background-color: #003049;
    font-weight: bold;
    color: #fdf0d5;
}
/* MODAL */
.modal {
    position: fixed;
    display: none;
    top: 30vh;
    left: 39vw ;
    width: 250px;
    height: 200px;
    background-color: whitesmoke;

}

/* FOOTER */
.footer {
    height: 25vh;
    background-color: #000814;
    color: snow;
    font-weight: bold;
}